extends layout

block content
  h1= title
  #articles
    - each result in results
      div.article
        div.created_at= result.created_at
        div.title 
            a(href="/album/"+result._id)!= result.title+'('+result.photos.length+')'
        div.body= result.body
