doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #toolbar
      a(href="/") HOME
      a(href="/album/new") NEW ALBUM 
      a(href="/reset") RESET ALBUM
    block content